1-Prescient/data/*
1-Prescient/*output*/*
1-Prescient/*output/*
1-Prescient/PrescientDispatch*/*
2-SCOPF/**/*.gdx
2-SCOPF/**/*.lst
2-SCOPF/**/*.pf
2-SCOPF/**/*.dat
2-SCOPF/a-PSCDCOPF/**/*.sh
2-SCOPF/b-ACOPF/**/*.sh
2-SCOPF/c-PSCACOPF/**/*.sh
2-SCOPF/**/*.log
2-SCOPF/*/*/*.opt
2-SCOPF/d-Final-dispatch/*
3-DynData/outputs/*
3-DynData/RTS.dyd
3-DynData/RTS.par
3-DynData/RTS.iidm
3-DynData/N-1_Analysis/*
3-DynData/protected/*
4-PDSA/__pycache__/*
4-PDSA/simulations/*
4-PDSA/log*.log
4-PDSA/AnalysisOutput.xml
**/*.zip
**/*.pyc
**/*.pickle